.background-card {
    background-color: white;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    height: 500px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 1000px;

    @media screen and (max-width: 1164px) {
        width: 856px;

    }

    @media screen and (max-width: 867px) {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 464px;
        height: 588px;
        overflow: visible;
    }

    .left-container {
        width: 50%;
    }

    .right-container {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        width: 50%;

        @media screen and (max-width: 867px) {
            align-items: center;
            width: 100%;
        }

        h1 {
            cursor: default;
            margin-bottom: 50px;
        }

        .questions {
            display: flex;
            flex-direction: column;

            .question {
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid #CCC;
                padding-bottom: 20px;
                width: max-content;

                &:not(.question:nth-child(1)) {
                    margin-top: 20px;
                }

                .question-main {
                    align-items: center;
                    display: flex;
                    transition: all ease 1s;

                    .paragraph {
                        width: 290px;
                    }

                    .paragraph-bold {
                        font-weight: 700;
                        width: 290px;
                    }

                    .arrow {
                        cursor: pointer;
                        margin-left: 80px;
                    }

                    .arrow-inversor {
                        transform: rotate(180deg);
                    }

                    img {
                        height: 10px;
                        margin-right: 20px;
                        width: 15px;
                    }
                }

                .description-block {
                    color: rgb(150, 150, 150);
                    max-width: 340px;
                    margin-top: 10px;
                    font-size: 13px;
                    transition: all 1s;
                }

                .description-none {
                    display: none;
                    transition: all 1s;
                }
            }
        }
    }

}