* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background: rgb(101, 101, 231);
    background: linear-gradient(0deg, rgba(101, 101, 231, 1) 10%, rgb(188, 110, 251) 70%);
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;

    .image1 {
        position: absolute;
        left: -85px;
        top: 50px;
    }

    .image2 {
        position: absolute;
        left: 117px;
        top: 320px;
        z-index: 2;
    }

    .image3 {
        position: absolute;
        right: 600px;
        top: -310px;
        z-index: -1;
    }

}