* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background: rgb(101, 101, 231);
    background: linear-gradient(0deg, rgba(101, 101, 231, 1) 10%, rgb(188, 110, 251) 70%);
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;

    .container-intern {
        position: relative;
        width: max-content;

        .image1 {
            position: absolute;
            left: -85px;
            top: 50px;

            @media screen and (max-width: 867px) {
                top: -124px;
                left: 20%;
                width: 270px;
            }

        }

        .image2 {
            position: absolute;
            left: -132px;
            top: 200px;
            z-index: 2;

            @media screen and (max-width: 867px) {
                display: none;
            }
        }

        .image3 {
            position: absolute;
            right: 600px;
            top: -310px;
            z-index: -1;

            @media screen and (max-width: 867px) {
                right: 114px;
                top: 8px;
            }
        }
    }
}